<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>eCommerce Dashboard - Convex bootstrap 4 admin dashboard template</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/AdminTemplate/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/AdminTemplate/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/AdminTemplate/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/AdminTemplate/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/AdminTemplate/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/css/app.css">
</head>
<body>
    <!--Begin Header-->
     @await Html.PartialAsync("_Header")
    <!--End Header-->
    <!--Begin Wrapper-->
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!--End Wrapper-->

    <!-- Side menu -->
    @await Html.PartialAsync("_SideMenu")
    <!-- Side menu -->

    <!-- Customize Buttone -->
    @await Html.PartialAsync("_CustomizeButton")
    <!-- Customize Buttone -->

    <!-- BEGIN VENDOR JS-->
    <script src="~/AdminTemplate/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/AdminTemplate/js/persian-datepicker.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/core/popper.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/prism.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/AdminTemplate/vendors/js/"></script>
    <script src="~/AdminTemplate/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/AdminTemplate/vendors/js/chartist.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/datatables.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/dataTables.buttons.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/buttons.flash.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/jszip.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/pdfmake.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/vfs_fonts.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/buttons.html5.min.js"></script>
    <script src="~/AdminTemplate/vendors/js/datatable/buttons.print.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/AdminTemplate/js/app-sidebar.js"></script>
    <script src="~/AdminTemplate/js/notification-sidebar.js"></script>
    <script src="~/AdminTemplate/js/customizer.js"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/AdminTemplate/js/dashboard-ecommerce.js"></script>
    <script src="~/AdminTemplate/js/components-modal.min.js"></script>
    <script src="~/AdminTemplate/js/data-tables/datatable-advanced.js"></script>
    <script>
        setTimeout(function () {
            var alertbox = document.getElementById('alertbox');
            if (alertbox) {
                alertbox.style.transition = 'opacity 0.5s ease'
                alertbox.style.opacity = '0';
                setTimeout(function () { alertbox.remove(); }, 500);
            }
        },2000);
    </script>
    <!-- END PAGE LEVEL JS-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
