<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left align-self-center">
                            <i class="icon-pencil info font-large-2 float-right"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>278</h3>
                            <span>پست جدید</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left align-self-center">
                            <i class="icon-speech warning font-large-2 float-right"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>156</h3>
                            <span>نظرات</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left align-self-center">
                            <i class="icon-graph success font-large-2 float-right"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>64%</h3>
                            <span>پریدن</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body text-left align-self-center">
                            <i class="icon-pointer danger font-large-2 float-right"></i>
                        </div>
                        <div class="media-body text-right">
                            <h3>423</h3>
                            <span> بازدید ها</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

