@if (TempData["SuccessMessage"] is not null)
{
    <div id="alertbox" class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] is not null)
{
    <div id="alertbox" class="alert alert-success" role="alert">@TempData["ErrorMessage"]</div>
}
<script>
    setTimeout(function () {
        var alertbox = document.getElementById('alertbox');
        if (alertbox) {
            alertbox.style.transition = 'opacity 0.5s ease'
            alertbox.style.opacity = '0';
            setTimeout(function () { alertbox.remove(); }, 500);
        }
    }, 3000);
</script>